footer {
  background-color: $darkened-background;
  color: $distinctive-color;
  padding: 25px;
  @include desktop {
    display: flex;
    align-items: baseline;
  }
  & h3 {
    margin-top: 0;
    font-weight: normal;
    @include desktop {
      font-size: nth($font-size, 8);
      padding-left: 15px;
      width: 30%;
    }
  }
  & a {
    color: $distinctive-color;
  }
  & i {
    width: 15px;
    padding-right: 15px;
  }
  & .nav {
    padding-left: 0;
    @include desktop {
      font-size: nth($font-size, 6);
    }
    & > li {
      line-height: 1.7;
      @include desktop {
        display: inline-block;
        padding-right: 30px;
      }
    }
  }
}
