header hr {
  margin: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    darken($main-background, 15%),
    darken($main-background, 3%)
  );
}

.heading {
  @include header;
  &__logo {
    width: $logo-size;
    @include desktop {
      width: 20%;
    }
  }
  &__homelink {
    float: left;
    padding-top: nth($padding, 1);
    @include desktop {
      font-size: nth($font-size, 7);
    }
  }
}

.search {
  background-color: transparent;
  color: $darkened-background;
  border: none;
  text-align: $text-align;
  height: 45px;
  font-weight: $bolder-font-weight;
  font-size: nth($font-size, 3);
}

.form-citysearch {
  text-align: $text-align;
  background-color: $main-background;
  padding-bottom: nth($padding, 3);
  &__userarea {
    background-color: darken($main-background, 3%);
  }
  &__title {
    margin: 40px 20px 0;
    line-height: 1;
    & p:first-child {
      font-weight: $bolder-font-weight;
      font-size: nth($font-size, 7);
      margin-bottom: 0;
    }
    & p:nth-of-type(2) {
      color: $darkened-background;
      font-weight: $thinner-font-weight;
      font-size: nth($font-size, 5);
    }
  }
}

.banner {
  height: 300px;
  position: nth($position, 1);
  @include desktop {
    height: 550px;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__title {
    width: 100%;
    position: nth($position, 2);
    bottom: 0;
    @include flexbox($justify-content: space-around, $align: baseline);
    background-color: $main-background;
    border-top-left-radius: nth($radius, 4);
    border-top-right-radius: nth($radius, 4);
    @include mobile-large-screen {
      justify-content: flex-start;
    }
    @include tablette-only {
      justify-content: center;
      font-size: nth($font-size, 8);
    }
    @include desktop {
      font-size: nth($font-size, 8);
    }
    & > h1 {
      @include mobile-large-screen {
        width: 45%;
        padding-left: 5%;
      }
      @include tablette-only {
        width: 50%;
        padding-left: 0;
        font-size: nth($font-size, 8);
      }
      @include desktop {
        width: 35%;
        font-size: nth($font-size, 8);
      }
    }
  }
}
