header hr {
  margin: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    darken($main-background, 15%),
    darken($main-background, 3%)
  );
}

.heading {
  @include header;
  &__logo {
    width: $logo-size;
    @include desktop {
      width: 20%;
    }
  }
  &__homelink {
    float: left;
    padding-top: 10px;
    @include desktop {
      font-size: nth($font-size, 7);
    }
  }
}

.input {
  &--search {
    background-color: transparent;
    color: $darkened-background;
    border: none;
    text-align: center;
    height: 45px;
    font-weight: $bolder-font-weight;
    font-size: nth($font-size, 3);
  }
}

.form-citysearch {
  text-align: $text-align;
  background-color: $main-background;
  padding-bottom: nth($padding, 2);
  &__userarea {
    background-color: darken($main-background, 3%);
  }
  &__title {
    margin: 40px 20px 0;
    line-height: 1;
    & p:first-child {
      font-weight: $bolder-font-weight;
      font-size: nth($font-size, 7);
      margin-bottom: 0;
    }
    & p:nth-of-type(2) {
      color: $darkened-background;
      font-weight: $thinner-font-weight;
      font-size: nth($font-size, 5);
    }
  }
}

.banner {
  height: 300px;
  position: relative;
  @include desktop {
    height: 550px;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__title {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: $main-background;
    border-top-left-radius: nth($radius, 4);
    border-top-right-radius: nth($radius, 4);
    @include mobile-large-screen {
      justify-content: flex-start;
    }
    @include tablette-only {
      justify-content: center;
      font-size: 40px;
    }
    @include desktop {
      justify-content: flex-start;
      font-size: 40px;
    }
    & > h1 {
      @include mobile-large-screen {
        width: 45%;
        padding-left: 5%;
      }
      @include tablette-only {
        width: 50%;
        padding-left: 5%;
        font-size: 40px;
      }
      @include desktop {
        width: 35%;
        padding-left: 5%;
        font-size: 40px;
      }
    }
  }
}
