main {
  background-color: $main-background;
  margin: 0;
  padding-top: nth($padding, 1);
  padding-bottom: nth($padding, 3);
}

.main--index {
  @include desktop {
    display: nth($display, 1);
    justify-content: center;
  }
}
