main {
  background-color: $main-background;
  margin: 0;
  padding-top: 10px;
  padding-bottom: nth($padding, 2);
  & > .functioning {
    background-color: $distinctive-color;
    @include padding-container;
  }
  & > .research-results {
    @include padding-container;
  }
  & > form {
    @include padding-container;
  }
}
