main {
  background-color: $main-background;
  margin: none;
  padding-top: 10px;
  padding-bottom: $padding-bottom;
  @include desktop {
    display: flex;
    justify-content: center;
  }
  & > .user-info {
    background-color: $distinctive-color;
    @include padding-container;
  }
  & > .restaurants {
    @include padding-container;
  }
  & > form {
    @include padding-container;
  }
}
