.input {
  background: linear-gradient($secondary-color, $primary-color);
  border-radius: nth($radius, 3);
  border: none;
  text-align: center;
  color: $distinctive-color;
  font-weight: $bolder-font-weight;
  height: 45px;
  width: 50%;
  cursor: pointer;
  display: block;
  margin: auto;
  box-shadow: $box-shadow;

  &--search {
    background-color: transparent;
    color: $darkened-background;
    border: none;
    text-align: center;
    height: 45px;
    font-weight: $bolder-font-weight;
    font-size: nth($font-size, 3);
  }

  &:hover {
    @include btn-hover;
  }

  @include desktop {
    width: 20%;
  }
}
