.btn {
  background: linear-gradient($secondary-color, $primary-color);
  border-radius: nth($radius, 3);
  border: none;
  text-align: $text-align;
  color: $distinctive-color;
  font-weight: $bolder-font-weight;
  height: 45px;
  width: 50%;
  cursor: pointer;
  display: nth($display, 2);
  margin: auto;
  box-shadow: $box-shadow;
  position: nth($position, 1);
  z-index: 1;
  @include mobile-small-screen {
    width: auto;
  }
  @include desktop {
    width: 20%;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    border-radius: nth($radius, 3);
    @include positioning;
    @include btn-hover;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
}

/* radio button for meals' selection */
input[type="radio"] {
  visibility: hidden;
}
