.btn {
  background: linear-gradient($secondary-color, $primary-color);
  border-radius: nth($radius, 3);
  border: none;
  text-align: center;
  color: $distinctive-color;
  font-weight: $bolder-font-weight;
  height: 45px;
  width: 50%;
  cursor: pointer;
  display: block;
  margin: auto;
  box-shadow: $box-shadow;
  position: relative;
  z-index: 1;
  @include mobile-small-screen {
    width: auto;
  }
  @include desktop {
    width: 20%;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    border-radius: nth($radius, 3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include btn-hover;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
}

.input {
  &--search {
    background-color: transparent;
    color: $darkened-background;
    border: none;
    text-align: center;
    height: 45px;
    font-weight: $bolder-font-weight;
    font-size: nth($font-size, 3);
  }
}
