.restaurants-results__insert {
  width: 30%;
  height: 40px;
  border-radius: nth($radius, 1);
  background-color: $tertiary-color;
  color: darken($tertiary-color, 40%);
  font-weight: $bolder-font-weight;
  text-align: center;
  line-height: 40px;
}
