---
---

body {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Roboto", sans-serif;
  &--restauname {
    font-family: "Shrikhand", cursive;
    font-size: nth($font-size, 6);
  }
}

h3 {
  font-family: "Shrikhand", cursive;
}
