body {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Roboto", sans-serif;
  &--restauname {
    font-family: "Shrikhand", cursive;
  }
}

h3 {
  font-family: "Shrikhand", cursive;
}
