.loader-wrapper {
  background-color: $darkened-background;
  opacity: 0.6;
  @include loader-settings;
  animation: page-display 0s ease 2s forwards;
  &__spinner {
    @include loader-settings;
    width: 70px;
    height: 70px;
    border: 8px dotted $tertiary-color;
    border-radius: nth($radius, 5);
    animation: loading-spinner 3s linear infinite;
  }
  &__spinner-reverse {
    @include loader-settings;
    width: 50px;
    height: 50px;
    border: 8px dotted $primary-color;
    border-radius: nth($radius, 5);
    animation: loading-spinner reverse 2s linear infinite;
  }
}

.main--index {
  @include desktop {
    display: nth($display, 1);
    justify-content: center;
  }
}

.functioning {
  padding-top: nth($padding, 1);
  padding-bottom: 40px;
  @include flexbox(
    $direction: column,
    $justify-content: flex-start,
    $align: flex-start
  );
  @include desktop {
    width: 25%;
  }
  &-details {
    align-self: flex-end;
    width: 95%;
    @include tablette-only {
      width: 100%;
      @include flexbox;
    }
  }
  &-details__step {
    position: nth($position, 1);
    background-color: $main-background;
    height: 70px;
    @include box-radius-shadow;
    @include flexbox;
    margin-bottom: 30px;
    @include tablette-only {
      width: 30%;
    }
    > p:first-child {
      color: $distinctive-color;
      background-color: $primary-color;
      border-radius: nth($radius, 5);
      width: 20px;
      height: 20px;
      text-align: $text-align;
      position: nth($position, 2);
      top: 10px;
      left: -10px;
      margin-right: 10px;
    }
    > p:nth-child(2) {
      text-align: $text-align;
      width: 85%;
      font-weight: $bolder-font-weight;
      @include tablette {
        font-size: 85%;
        width: 90%;
      }
      @include mobile-small-screen {
        margin: auto;
      }
    }
  }
  & i {
    margin-right: 4%;
    color: lighten($darkened-background, 30%);
    @include mobile-small-screen {
      display: none;
    }
  }
}

.research-results {
  padding-top: nth($padding, 1);
  @include desktop {
    width: 55%;
    display: nth($display, 1);
    flex-direction: column;
  }
}

.restaurants {
  @include mobile-large-screen {
    @include flexbox;
    flex-wrap: wrap;
    margin: 0;
  }
  &-results {
    position: nth($position, 1);
    @include card;
    @include mobile-large-screen {
      width: 48%;
    }
    @include tablette {
      width: 40%;
    }
    &__image {
      border-top-left-radius: nth($radius, 2);
      border-top-right-radius: nth($radius, 2);
      height: 170px;
      /* width: 100%; */
    }
    &__insert {
      position: nth($position, 2);
      top: 5px;
      right: 15px;
    }
    &__info {
      @include flexbox;
      padding: 0 20px;
      &__nameloc {
        line-height: 0.5;
        & p {
          font-size: nth($font-size, 2);
        }
      }
    }
    & h2 {
      font-weight: $bolder-font-weight;
    }
  }
}
