.loader-wrapper {
  background-color: $darkened-background;
  opacity: 0.6;
  height: 100%;
  @include loader-settings;
  animation: page-display 0s ease 3s forwards;
  &__spinner {
    @include loader-settings;
    width: 70px;
    height: 70px;
    border: 8px dotted $tertiary-color;
    border-radius: 50%;
    animation: loading-spinner 3s linear infinite;
  }
  &__spinner-reverse {
    @include loader-settings;
    width: 50px;
    height: 50px;
    border: 8px dotted $primary-color;
    border-radius: 50%;
    animation: loading-spinner reverse 2s linear infinite;
  }
}

.user-info {
  padding-top: 15px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  @include desktop {
    width: 25%;
  }
  &__step {
    align-self: flex-end;
    position: relative;
    background-color: $main-background;
    height: 70px;
    @include box-radius-shadow;
    @include flexbox;
    width: 95%;
    margin-bottom: 30px;
    > p:first-child {
      color: $distinctive-color;
      background-color: $primary-color;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: $text-align;
      position: absolute;
      top: 10px;
      left: -10px;
      margin-right: 10px;
    }
    > p:nth-child(2) {
      text-align: $text-align;
      width: 85%;
      font-weight: $bolder-font-weight;
    }
  }
  & i {
    margin-right: 4%;
    color: lighten($darkened-background, 30%);
  }
}

.restaurants {
  padding-top: 15px;
  @include desktop {
    width: 55%;
    display: flex;
    flex-direction: column;
  }
  & div:last-child {
    @include desktop {
      display: flex;
      flex-flow: row wrap;
      margin: 0;
    }
  }
  &-results {
    position: relative;
    @include card;
    @include desktop {
      width: 40%;
    }
    &__image {
      border-top-left-radius: nth($radius, 2);
      border-top-right-radius: nth($radius, 2);
      height: 170px;
    }
    &__insert {
      position: absolute;
      top: 5px;
      right: 15px;
    }
    &__info {
      @include flexbox;
      padding: 0 20px;
      &__nameloc {
        line-height: 0.5;
        & p {
          font-size: nth($font-size, 2);
        }
      }
    }
    & h2 {
      font-weight: $bolder-font-weight;
    }
  }
}
