.form-menu {
  @include tablette-only {
    width: 50%;
    margin: auto;
  }
  @include desktop {
    display: flex;
    flex-direction: column;
  }
  &__lists {
    @include desktop {
      @include flexbox($align: baseline);
    }
  }
}
.menu {
  font-weight: $bolder-font-weight;
  margin-bottom: 45px;
  /*  animation: gradualy-appearing linear 300ms; */
  @include desktop {
    width: 30%;
  }
  &-title {
    margin-bottom: 0;
  }
  &-suggestion {
    @include card;
    @include flexbox;
    &__add {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 10px;
      & label:nth-child(2) {
        font-weight: $thinner-font-weight;
        font-size: nth($font-size, 1);
      }
    }
    &__display {
      display: none;
      margin-right: 10px;
    }
  }
}

hr {
  float: left;
  border: none;
  background-color: $tertiary-color;
  width: 12%;
  height: 4px;
  margin-bottom: 20px;
}
