@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes page-display {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
