/* general pages'layout */
@mixin padding-container {
  padding-left: 5%;
  padding-right: 5%;
}

/* elements'setting */
@mixin box-radius-shadow {
  border-radius: nth($radius, 2);
  box-shadow: $box-shadow;
}

@mixin card {
  width: 100%;
  background-color: $distinctive-color;
  margin: auto;
  margin-bottom: 25px;
  @include box-radius-shadow;
}

@mixin header {
  text-align: $text-align;
  margin: 20px 0;
}

@mixin flexbox(
  $direction: row,
  $justify-content: space-between,
  $align: center
) {
  display: nth($display, 1);
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align;
}

@mixin positioning {
  position: nth($position, 2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*components */
@mixin btn-hover {
  background: linear-gradient(
    lighten($secondary-color, 3%),
    lighten($primary-color, 3%)
  );
  box-shadow: nth($box-shadow, 1) nth($box-shadow, 1) nth($box-shadow, 3)
    nth($box-shadow, 1) darken(nth($box-shadow, 5), 20%);
}

/* MediaQueries */
@mixin mobile-small-screen {
  @media screen and (max-width: map-get($breakpoints, mobile-small-screen)) {
    @content;
  }
}

@mixin mobile-large-screen {
  @media screen and (min-width: map-get($breakpoints, mobile-large-screen)) {
    @content;
  }
}

@mixin tablette {
  @media screen and (min-width: map-get($breakpoints, tablette)) {
    @content;
  }
}

@mixin tablette-only {
  @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

/* animation elements' setting */
@mixin loader-settings {
  z-index: 2;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
